h1 {
    text-align: center;
    color: rgb(250, 97, 97);
}

nav {
    padding: 0%;
    text-align: center;
}
li {
    padding: 0%;
}
ul {
    text-align: center;
}
p {
    color: rgb(255, 255, 0);
}

h2 {
    color: rgb(44, 170, 248);
}

* {
    background-color: lightgoldenrodyellow;
}
*/bisque*/